
.card.card-loader {
    background-color: transparent !important;
    .card-body {
        background-color: transparent;
        .loader-message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;

            .spinner {
                color: #4267B2 !important;
                font-size: 30px;
            }

            .label {
                padding-left: 10px;
            }
        }
    }
}
