<div class="card card-loader border-0">
    <div class="card-body">
        <div class="loader-message">
            <div class="spinner">
                <span class="fas fa-circle-notch fa-spin fa-fw loader-icon"></span>
            </div>
            <div class="label">
                Carregando...
            </div>
        </div>
    </div>
</div>
