<section
  id="pedidos"
  class="pedidos-section"
>
  <h2 class="mt-3 ml-3 text-center">
    🤫 Painel Secreto do Adm
  </h2>
  <div class="container d-flex flex-column justify-content-center">
    <div class="row text-center d-flex justify-content-center">
      <div class="list-group d-flex flex-row py-3">
        <button type="button" class="btn btn-danger" (click)="clearPedidos()">Limpar Arca</button>
      </div>
    </div>
    <app-loader-section *ngIf="loading"></app-loader-section>
    <div class="row text-center d-flex justify-content-center" *ngIf="escolhido">
      <div class="col">
        <h2>Escolhido: {{escolhido.displayName}}</h2>
        <img class="rounded-circle bg-white" [src]="escolhido.photoURL" alt="User profile picture" width="120px" height="120px">
        <div class="mt-1">
          <b>Email:</b> {{escolhido.email}}
        </div>
      </div>
    </div>
  </div>
</section>
