<section class="layout-section">
  <section class="content-section" [ngClass]="{ confetti: confetti }">
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <div *ngIf="confetti" class="confetti-piece"></div>
    <header class="header-section">
      <app-topbar></app-topbar>
    </header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
    <footer class="footer-section">
      <app-footer></app-footer>
    </footer>
  </section>
</section>
