<section class="main-section pt-3">
  <div class="container d-flex justify-content-center">
    <app-login [user]="user"></app-login>
  </div>
  <div class="container d-flex justify-content-center mt-3">
    <app-arca [user]="user" [displayName]="displayName"></app-arca>
  </div>
</section>
