<section id="pedidos" class="pedidos-section" [ngClass]="{'names': printingNomes, 'pedidos': printingPedidos }">
  <div class="container d-flex flex-column justify-content-center">
    <div *ngIf="!loading">
      <h2 class="py-3 mb-0">Pedidos</h2>
      <div class="mb-3">
        <button
          [disabled]="pdfLoading"
          type="button"
          class="btn btn-secondary mr-3"
          (click)="printPedidos()"
        >
          <i class="fas fa-print"></i>
          Imprimir pedidos
          <app-loader *ngIf="pdfLoading"></app-loader>
        </button>
        <button
          [disabled]="pdfLoading"
          type="button"
          class="btn btn-secondary"
          (click)="printNomes()"
        >
          <i class="fas fa-print"></i>
          Imprimir nomes
          <app-loader *ngIf="pdfLoading"></app-loader>
        </button>
      </div>
    </div>
    <app-loader-section *ngIf="loading"></app-loader-section>
    <div class="row px-3" *ngIf="!loading">
      <div
        class="card mb-3"
        *ngFor="
          let pedido of pedidos
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
      >
        <div class="card-header d-flex flex-row justify-content-between">
          <span>
            <img
              class="rounded-circle mr-2"
              [src]="pedido.photoURL"
              alt="User profile picture"
              width="25px"
              height="25px"
            />
            {{ pedido.name ? pedido.name : "Anônimo" }}
          </span>
          <span>
            <!-- <span class="mr-2">Não lido</span>
            <i class="fas fa-check-circle text-secondary"></i> -->
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title" *ngIf="pedido.pedidos.length > 0">Pedidos</h5>
          <div class="card-text" *ngIf="pedido.pedidos.length > 0">
            <ol *ngFor="let itemPedido of pedido.pedidos">
              <li>{{ itemPedido }}</li>
            </ol>
          </div>
          <h5 class="card-title" *ngIf="pedido.agradecimentos.length > 0">
            Agradecimentos
          </h5>
          <div class="card-text" *ngIf="pedido.agradecimentos.length > 0">
            <ol *ngFor="let itemAgradecimento of pedido.agradecimentos">
              <li>{{ itemAgradecimento }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex align-self-center"
      [ngClass]="{'none': printingNomes || printingPedidos}"
    >
      <ngb-pagination
        class="d-flex align-self-center"
        *ngIf="!loading"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
      >
      </ngb-pagination>
    </div>
  </div>
</section>
