.card {
  width: 100%;
}

.pedidos-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 21cm;
  // height: 29.65cm;
  height: 29.65cm;
  max-height: 29.65cm;
  // margin: 30mm 45mm 30mm 45mm;
  margin: 0;
}

@media print {
  button {
    display: none;
  }

  .container, .row, .card {
    display: block !important;
    float: none !important;
    position: static !important;
    overflow: visible !important;
  }

  .card {
    border: 2px solid rgba(0, 0, 0, 0.8) !important;
    margin-bottom: 0px !important;
    break-before: always !important;
    break-inside: avoid !important;

    .rounded-circle {
      width: 30px !important;
      height: 30px !important;
    }

    .card-header > span {
      font-size: 22px !important;
    }
  }

  .none {
    display: none !important;
  }

  .names {
    .card {
      border-radius: 0px !important;
      width: 30%;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      overflow: hidden !important;

      .card-header {
        border-top: none !important;
        border-bottom: none;
      }

      .card-body {
        display: none !important;
      }
    }
  }
}

