.login {
  &.disabled {
    opacity: 0.65;

    .btn:disabled {
      opacity: 1;
    }
  }

  .social-media > .col > .btn {
    width: 100px;

    &.disabled {
      pointer-events: none;
    }

    &.facebook {
      background-color: #4267B2;
      border-color: #4267B2;

      &:hover {
        background-color: darken(#4267B2, 10%);
        border-color: darken(#4267B2, 10%);
      }
    }

    &.google {
      background-color: #db4a39;
      border-color: #db4a39;

      &:hover {
        background-color: darken(#db4a39, 10%);
        border-color: darken(#db4a39, 10%);
      }
    }

    &.anonymous {
      background-color: #E9ECEF;
      border-color: #E9ECEF;
      color: #a7a7a7;

      span {
        font-size: 0.9rem;
      }

      &:hover {
        background-color: darken(#E9ECEF, 10%);
        border-color: darken(#E9ECEF, 10%);
      }
    }
  }

}
