<div class="login" [ngClass]="{'disabled': user}">
  <h4 class="mb-3 text-center">Passo 1: Entre com uma conta</h4>
  <div class="social-media row text-center">
    <div class="col mb-2">
      <button
        [disabled]="user"
        class="btn btn-primary facebook px-2"
        type="submit"
        [ngClass]="{ 'disabled': user }"
        (click)="loginFacebook()"
      >
        <i class="fab fa-facebook-f fa-lg"></i>
      </button>
    </div>
    <div class="col mb-2">
      <button
        [disabled]="user"
        class="btn btn-primary google px-2"
        type="submit"
        [ngClass]="{ 'disabled': user }"
        (click)="loginGoogle()"
      >
        <i class="fab fa-google fa-lg"></i>
      </button>
    </div>
    <div class="col mb-2">
      <button
        [disabled]="user"
        class="btn btn-primary px-2"
        type="submit"
        [ngClass]="{ 'disabled': user }"
        (click)="inputEmailSwal()"
      >
        <i class="fas fa-envelope fa-lg"></i>
      </button>
    </div>
    <div class="col mb-2">
      <button
        [disabled]="user"
        class="btn btn-primary anonymous px-2"
        type="submit"
        [ngClass]="{ 'disabled': user }"
        (click)="anonWarningSwal()"
      >
        <i class="fas fa-user-secret fa-lg"></i> <span> Anônimo</span>
      </button>
    </div>
  </div>
</div>
