.arca {
  max-width: 405px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  &.disabled {
    opacity: 0.65;

    .fa-times {
      pointer-events: none !important;
      color: gray !important;
    }
  }

  .fa-times {
    position: absolute;
    margin-left: 3px;
    margin-top: 5px;
  }

  .item-number {
    margin-left: 25px;
    margin-right: 4px;
  }
}

@supports (-webkit-touch-callout: none) {
  .item-number {
    margin-left: 17px !important;
  }
}
