<form [formGroup]="arcaForm" (ngSubmit)="submit()" novalidate>
  <div class="arca" [ngClass]="{ disabled: !user || loading }">
    <h4 class="mb-4">
      Passo 2: Escreva seus pedidos e agradecimentos
    </h4>
    <div class="container px-0">
      <div class="mb-3">
        <h5 class="mb-1">Pedidos</h5>
        <ol *ngFor="let pedidos of list.pedidos; let i = index">
          <li>
            {{ pedidos }}
            <i (click)="deletePedidos(i)" class="fas fa-times text-danger clickable"></i>
          </li>
        </ol>
        <span class="item-number">{{ list.pedidos.length + 1 }}.</span>
        <app-add-list
          (addTodoChange)="addPedidos($event)"
          [isPedidos]="true"
          [isLoggedIn]="user"
        >
        </app-add-list>
      </div>
      <div class="mb-3">
        <h5 class="mb-1">Agradecimentos</h5>
        <ol *ngFor="let agradecimentos of list.agradecimentos; let i = index">
          <li>
            {{ agradecimentos }}
            <i (click)="deleteAgradecimentos(i)" class="fas fa-times text-danger clickable"></i>
          </li>
        </ol>
        <span class="item-number">{{ list.agradecimentos.length + 1 }}.</span>
        <app-add-list
          (addTodoChange)="addAgradecimentos($event)"
          [isPedidos]="false"
          [isLoggedIn]="user"
          [loading]="loading"
        >
        </app-add-list>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="Name">Nome</label>
    <input
      [disabled]="true"
      type="text"
      class="form-control form-control-sm"
      name=""
      id="name"
      aria-describedby="helpId"
      [placeholder]="displayName">
      <small class="text-secondary" id="helpId" *ngIf="displayName !== 'Anônimo'">(Você pode mudar seu nome clicando no menu ali em cima!)</small>
      <small class="text-danger" id="helpId" *ngIf="displayName === 'Anônimo'">Usuários anônimos não podem mandar pedidos com nome ou fazer parte do sorteio</small>
  </div>
  <button [disabled]="loading || !user" type="submit" class="btn btn-primary btn-lg btn-block mb-5">
    Enviar
    <i class="fas fa-paper-plane ml-1"></i>
    <app-loader *ngIf="loading"></app-loader>
  </button>
</form>
