.item-input {
  border-width: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  transition: ease-out 0.25s;
  border-color: gray;
  border-radius: 0px;

  &.disabled:focus, &.disabled:active {
    border-color: gray !important;
  }

  &:focus, &:active {
    border-color: #007bff;
    outline: none
  }
}

.input-group-append {

  &.disabled {
    pointer-events: none;

    .input-group-text:focus,
    .input-group-text:active,
    .input-group-text:hover {
      color: gray !important;
    }
  }

  i {
    transition: color ease-out 0.25s;
    color: gray;
    position: absolute;
    top: 8px
  }

  &:hover, &:focus, &:active {
    i{
      color: darken(gray, 15%)
    }
  }

  .input-group-text {
    background-color: transparent;
    border: none;
    color: gray;
  }
}

