<div class="input-group mb-2 d-inline">
  <input
  [disabled]="!isLoggedIn || loading"
  [ngClass]="{'disabled': !isLoggedIn || loading}"
  class="item-input"
  #newItem
  type="text"
  [placeholder]="isPedidos ? 'Peço por...': 'Agradeço por...'"
  (keyup.enter)="$event.target.tagName == 'TEXTAREA'; addTodo(newItem.value); newItem.value='' "
  (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
  (keypress)="handleKeyboardPress($event, newItem.value)"
  >
  <div
    [ngClass]="{'disabled': !isLoggedIn || loading}"
    class="input-group-append clickable d-inline pr-0 pl-2"
    (click)="addTodo(newItem.value); newItem.value=''"
  >
    <i class="fas fa-plus"></i>
  </div>
</div>
