<section class="sorteio-section">
  <div class="container d-flex justify-content-center mb-5">
    <div class="d-flex flex-column justify-content-center pt-3 text-center">
      <h1>Sorteio</h1>
      <img
        *ngIf="!escolhido"
        [ngClass]="{'shake-slow shake-constant': loading}"
        class="chest align-self-center"
        src="/assets/images/treasure-chest.svg"
        alt="Baú do sorteio"
      >
      <div *ngIf="escolhido">
        <img class="rounded-circle" [src]="escolhido.photoURL" alt="Foto do escolhido" width="150px" height="150px">
        <h2 class="d-block mt-2">
          Parabéns {{escolhido.name}}!
        </h2>
        <p>Você foi a escolhido(a) para orar pelos pedidos da nossa comunidade!</p>
      </div>
      <button *ngIf="!loading" class="btn btn-primary btn-submit" (click)="sorteio()">Clique aqui para sortear<span *ngIf="escolhido"> novamente</span>!</button>
      <div class="mt-2" *ngIf="loading">
        <h2>Dando <b>aquela</b> mexida...</h2>
      </div>
    </div>
  </div>
</section>
