.chest {
  width: 20em;
  min-height: 100px;
}

.btn-submit {
  background-color: #FDAE02;
  border-color: #FDAE02;

  &:focus, &:active, &:hover {
    background-color: lighten(#FDAE02, 10%) !important;
    border-color: lighten(#FDAE02, 10%) !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 576px) {

  .chest {
    width: 17em;
  }
}
