/* You can add global styles to this file, and also import other style files */

// @font-face {
//   font-family: 'Herbarium';
//   src: local('Herbarium'),
//       url('/assets/fonts/Herbarium.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }

// h1, h2, h3, h4, h5, h6, .title {
//   font-family: 'Herbarium';
// }

.clickable {
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
