.app-topbar {
  background-color: white !important;
  min-height: 65px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
  width: 100%;

  .nav-container {
    width: 100%;
    backface-visibility: hidden;

    .title > a {
      text-decoration: none;
      color: inherit;
    }

    .dropdown-toggle {

      + .dropdown-menu {
        box-shadow: 0 1px 15px rgba(27,31,35,.15);
        border: none;
        left: initial;
        right: 0;

        .dropdown-item:active {
          background-color: inherit;
          color: inherit;
        }

        .login-name:hover {
          background-color: inherit;
        }

        .arrow-up {
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          right: 9px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid white;
          margin-top: -7px;
        }
      }

      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .navbar-toggler {
      border: none;
      padding: 0px !important;

      .navbar-toggler-icon {
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &::after {
          font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0c9";
          color: white;
          display: inherit;
          flex-direction: inherit;
          justify-content: inherit;
        }
      }
    }
  }

  .page-title {
    margin-bottom: 0px;
    color: white;
    margin-left: -6px;
    line-height: 48px;
  }

  .navbar-brand > img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 576px) {

  .title {
    font-size: 1.3rem;
  }
}
