<nav class="navbar navbar-expand-lg navbar-light bg-light app-topbar px-0">
  <div class="px-3 nav-container d-flex justify-content-center" [ngClass]="user ? 'justify-content-between' : 'justify-content-center'">
    <h2 class="title mb-0 d-flex justify-content-center flex-column clickable">
      <a href="" routerLink="" >🙏 Arca de Oração 🙏</a>
    </h2>
    <div *ngIf="user" class="dropdown show d-flex flex-column justify-content-center">
      <a class="btn dropdown-toggle px-0 d-flex" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="rounded-circle mr-2 bg-white" [src]="photoURL" alt="User profile picture" width="25px" height="25px">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="arrow-up"></div>
        <a class="dropdown-item login-name">
          Logado como <b class="d-block">{{displayName}}</b>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item clickable" *ngIf="!isAnon" (click)="updateName()">
          <span class="">Atualizar nome</span>
        </a>
        <a class="dropdown-item clickable" *ngIf="!isAnon" (click)="updatePicture()">
          <span class="">Atualizar imagem</span>
        </a>
        <a href="" class="dropdown-item clickable" *ngIf="roles.admin || roles.escolhido" [routerLink]="['pedidos']">
          <span class="">Pedidos</span>
        </a>
        <a href="" class="dropdown-item clickable" *ngIf="roles.admin" [routerLink]="['sorteio']">
          <span class="">Sorteio</span>
        </a>
        <a href="" class="dropdown-item clickable" *ngIf="roles.admin" [routerLink]="['admin']">
          <span class="">🤫 Painel Secreto</span>
        </a>
        <a class="dropdown-item clickable" (click)="signOut()">
          <span class="text-danger">Sair</span>
        </a>
      </div>
    </div>
  </div>
</nav>
